{
  "root": true,
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module",
    "requireConfigFile": false
  },
  "extends": ["@nuxt/eslint-config"],
  "rules": {
    "semi": ["error", "always"],
    "no-return-assign": "off",
    "space-before-function-paren": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-default-prop": "off",
    "vue/no-v-html": "off",
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
